.font_header{
  font-size:30px;
  font-weight:lighter;
}
.font_body{
  font-size:30px;
  font-weight:lighter;
}
.font_vid {
  font-family: 'Vidaloka', serif;
  font-weight: lighter;
}
.font_alegreya {
  font-family: 'Alegreya SC', serif;
  font-weight:bolder;
}
.font_quicksand{
  font-family: 'Quicksand', sans-serif;
}
.font_karla{
  font-family: 'Karla', sans-serif;
}
a{
  font-family: 'Karla', sans-serif;
  color: #000;
  text-decoration: none;
}
p{
  font-family: 'Karla', sans-serif;
}
h4.proj {
  font-family: 'Quicksand', sans-serif;
}
